body {
  background-color: #f5f7fb;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #293264;
  font-family: inter, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.background-blob-one {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.background-blob-two {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -10;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
}

h1 {
  font-size: 2rem;
  letter-spacing: 0.2em;
  margin: 0;
}

header > p {
  margin-top: 0;
  padding: 0;
  font-size: 1rem;
}

.new-game-btn {
  background-color: #4d5b9e;
  color: #f5f7fb;
  padding: 1em 6em;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1em;
}

/* main */

.bg-blob-main {
  height: 180px;
  width: 180px;
  z-index: -10;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-inline: 5em;
}

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  margin-left: 7em;
}

.question-block {
  border-bottom: 1px solid #dbdef0;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.answer-wrapper {
  display: flex;
  gap: 1.5em;
  margin-block: 1em;
}

h2 {
  font-weight: 500;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.answer-list {
  display: flex;
  gap: 3em;
  margin-bottom: 1em;
}

.answer-btn {
  font-size: 1em;
  color: #293264;
  background-color: #f5f7fb;
  border: 2px solid #4d5b9e;
  border-radius: 10px;
  padding: 0.5em 1em;
  font-weight: 500;
}

.hidden-input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.custom-button {
  display: inline-block;          
  padding: 0.5em 1em;           
  background-color: #F5F7FB;     
  color: #293264;                 
  font-weight: 600;         
  cursor: pointer;   
  border: 2px solid #4D5B9E;
  border-radius: 15px;                        
}

.selectedguess {
  background-color: #D6DBF5;
  color: #293264;
  border: none;
}

.checkanswers-btn {
  background-color: #4D5B9E;
  color: #F5F7FB;
  padding: 1em 3em;
  border: none;
  border-radius: 15px;
  margin-left: 7em;
  margin-top: 1em;
}

.correctguess {
  background-color: #94D7A2;
  border: none;
}

.wrongguess {
  background-color: #F8BCBC;
  border: none;
  opacity: 50%;
}

.score-msg {
  margin-left: 5.5em;
}